fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
pymysql==1.1.1
cryptography==44.0.0
alembic==1.14.0
pydantic-settings==2.6.1
python-multipart==0.0.19
pyjwt==2.10.1
httpx==0.28.1
mutagen==1.47.0
openpyxl==3.1.5
